.refunds-title-row {
  height: 40px;
  padding-bottom: 10px;

  .create-refund-col {
    display: flex;
    align-items: center;

    height: 100%;

    div.col-md-4 {
      display: flex;
      align-items: center;

      h4 {
        color: #58a917;
        display: inline-block;
      }
    }
  }

  .search-refund-col {
    display: flex;
    align-items: center;
    height: 100%;

    input[type='text'] {
      padding: 6px 2px;
      line-height: 14px;
      width: 70%;
    }
  }
}

.refunds-list-row {
  height: calc(100% - 80px);

  .refund-list-col {
    display: flex;
    align-items: center;
    height: calc(100% - 120px);

    table {
      thead {
        height: 60px;
      }
    }
  }
}

.refunds-footer-row {
  height: 40px;

  .refund-action-col {
    display: flex;
    align-items: center;
  }
}
