.refunds-title-row {
  height: 62px;
  padding-bottom: 10px;

  div.col-1 {
    h4 {
      color: #58a917;
    }
  }

  .search-refund-col {
    height: 100%;

    input[type='text'] {
      padding: 6px 2px;
      line-height: 14px;
      width: 70%;
    }

    input[type='text'] + button {
      height: 2.25rem;
      position: relative;
      top: -2px;
      left: -4px;
    }
  }
}

.refunds-action-row {

}

.refunds-list-row {
  height: calc(100% - 80px);

  .refund-list-col {
    height: calc(100% - 120px);

    table {
      thead {
        height: 60px;
      }
    }
  }
}

.refunds-footer-row {
  height: 40px;

  .refund-action-col {
  }
}
