.refunds-title-row {
  height: 62px;
  padding-bottom: 10px;
  padding-top: 5px;

  div.col-2 {
    h4 {
      color: #58a917;
    }
  }

  div.col-7 {
    input[type='text'] {
      line-height: 14px;
      padding: 6px 2px;
      width: 70%;
    }

    input[type='text'] + button {
      height: 2.25rem;
      position: relative;
      top: -2px;
      left: -4px;
    }

    button.btn-outline-primary {
      position: relative;
      top: -2px;
      left: -4px;
    }
  }
}

.refunds-action-row {
  height: 40px;
}

.refunds-list-row {
  height: calc(100% - 102px);

  .refund-list-col {
    height: 100%;

    table {
      height: 100%;
      thead {
        height: 60px;
      }
      tbody: {
        height: calc(100% - 60px);
      }
    }

    p {
      font-size: 36px;
      color: #4d4d4d;
      text-align: center;
    }
  }
}

.refunds-footer-row {
  height: 40px;

  .refund-action-col {
  }
}
