<div class='col-12'>
  <div class='modal-header'>
    <div class='modal-title'>
      <div class='col-12' *ngIf='isMany()'><h4>Create Invoices</h4></div>
      <div class='col-12' *ngIf='!isMany()'><h4>Create Invoice</h4></div>
    </div>
    <button type='button' class='close' aria-label='Close' (click)='ngbActiveModal.dismiss("Cross click")'>
      <span aria-hidden='true'>&times;</span>
    </button>
  </div>
  <form #invoiceCreateForm='ngForm' (ngSubmit)='create()'>
    <div class='modal-body'>
      <div class='col-12'>
          <div class='form-group col-12'>
            <div class='col-6'>
              <label>Select academic year:</label>
            </div>
            <div class='col-6 dropdown-ctrl-col'>
              <div class='col-11 offset-1'>
                <div ngbDropdown class="d-inline-block">
                  <button type='button' class="btn btn-outline-primary" id="dropdownSelectSchoolYear" ngbDropdownToggle>{{selectedSchoolYear}}</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownSelectSchoolYear">
                    <button type='button' class='dropdown-item' *ngFor='let year of getSchoolYears()' (click)='setSelectedSchoolYear(year)'>{{year}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='form-group col-12'>
            <div class='col-6'>
              <label>Billing Period</label>
            </div>
            <div class='col-6 dropdown-ctrl-col'>
              <div class='col-11 offset-1'>
                <div ngbDropdown class='d-inline-block'>
                  <button type='button' ngbDropdownToggle class='btn btn-outline-primary' id='selectedScopeDropdown'>{{selectedScope}}</button>
                  <div ngbDropdownMenu class='dropdown-menu' aria-labelled-by='selectedScopeDropdown'>
                    <button type='button' class='dropdown-item' *ngFor='let s of scopes' (click)='setSelectedScope(s)'>{{s}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='form-group col-12' *ngIf='!isMany()'>
            <div class='col-6'>
              <label>School District Name</label>
            </div>
            <div class='col-6'>
              <label for='typeahead-school-district'></label>
              <input id='typeahead-school-district' type='text' class='form-control' [(ngModel)]='schoolDistrictName' [ngModelOptions]="{standalone: true}" [ngbTypeahead]='search' (selectItem)='setSelectedSchoolDistrict($event)' />
            </div>
          </div>
          <div class='form-group' *ngIf='!isMany()'>
            <div class='col-8'>
              <label>AUN#</label>
            </div>
            <div class='col-4'>
              <span>{{selectedSchoolDistrict?.aun}}</span>
            </div>
          </div>
          <div class='form-group col-12'>
            <div class='col-6'>
              <label>Date Issued to School District</label>
            </div>
            <div class='col-6 datepicker-ctrl-col'>
              <div class='col-11 offset-1'>
                <div class='input-group'>
                  <input class='form-control' placeholder='mm-dd-yyyy'
                        name='dpToSchoolDistrict' [(ngModel)]='toSchoolDistrictDate' ngbDatepicker #dpToSchoolDistrict='ngbDatepicker' (ngModelChange)='onIssuedSchoolDistrictDateChanged()'>
                  <div class='input-group-append'>
                    <button class='btn btn-outline-secondary' (click)='dpToSchoolDistrict.toggle()' type='button'>
                      <i class="fa fa-calendar fa-2x"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='form-group col-12'>
            <div class='col-6'>
              <label>Date Issued to PDE</label>
            </div>
            <div class='col-6 datepicker-ctrl-col'>
              <div class='col-11 offset-1'>
                <div class='input-group'>
                  <input class='form-control' placeholder='mm-dd-yyyy'
                        name='dpToPDE' [(ngModel)]='toPDEDate' ngbDatepicker #dpToPDE='ngbDatepicker' (ngModelChange)='onIssuedPDEDateChanged()'>
                  <div class='input-group-append'>
                    <button class='btn btn-outline-secondary' (click)='dpToPDE.toggle()' type='button'>
                      <i class="fa fa-calendar fa-2x"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class='modal-footer'>
      <div class='form-group col-12'>
        <div class='col-6 offset-7'>
          <button type='button' class='btn btn-outline' (click)='ngbActiveModal.dismiss("Cancel")'>CANCEL</button>
          <button type='submit' class='btn btn-primary'>CREATE</button>
        </div>
      </div>
    </div>
  </form>
</div>
