<div class='main-nav'>
  <div class='navbar navbar-inverse navbar-expand-md'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
      </button>
      <a class='navbar-brand' [routerLink]='["/"]'>{{appTitle}}</a>
    </div>
    <div class='clearfix'></div>
    <div class='navbar' [ngClass]='{ "in": isExpanded }'>
      <ul class='nav navbar-nav'>
        <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/"]' (click)='collapse()'>
              <span class='glyphicon glyphicon-home'></span> Home
          </a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/payments-refunds"]' (click)='collapse()'>
              <span class='glyphicon glyphicon-usd'></span> Payments & Refunds
          </a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/reports-invoices"]' (click)='collapse()'>
              <span class='glyphicon glyphicon-duplicate'></span> Reports & Invoices
          </a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/students", { outlets: { "action": ["list"] } }]' (click)='collapse()'>
              <span class='glyphicon glyphicon-user'></span> Students
          </a>
        </li>
        <li class='nav-item'>
          <a (click)='toggleAdministrationSubItems()'>
            <span class='glyphicon glyphicon-cog'></span> Administration
          </a>
        </li>
        <li class='nav-item'>
          <div class='navbar-administration-sub-items' *ngIf='showAdministrationSubItems'>
            <ul class='nav navbar-nav'>
              <li class='nav-item administration-nav-sub-item' [routerLinkActive]='["link-active"]'>
                <a [routerLink]='["/administration", { outlets: { "action": ["payment-rates"] } }]' (click)='collapse()'>
                    <span></span> School District Rates
                </a>
              </li>
              <li class='nav-item administration-nav-sub-item' [routerLinkActive]='["link-active"]'>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
