<div class='row invoices-title-row align-items-center'>
  <div class='col-3'>
    <h4>Combined Invoices</h4>
  </div>
  <div class='col-7'>
    <input type='text' [(ngModel)]='searchText' />
    <button type='button' class='btn btn-primary' (click)='filterInvoices()'>SEARCH</button>
    <button type='button' class='btn btn-outline-primary' (click)='resetInvoices()'>RESET</button>
  </div>
  <div class='col-2'>
    <div class='row'>
      <div class='col'>
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownScope"
            ngbDropdownToggle>{{selectedCurrentScope}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownScope">
            <button class='dropdown-item' *ngFor='let scope of scopes' (click)='filterByScope(scope)'>{{scope}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='row invoices-action-row align-items-center'>
  <div class='col-12'>
    <button type='button' class='btn btn-primary' (click)='displayCreateBulkInvoiceDialog(bulkCreateContent)'>CREATE</button>
  </div>
</div>
<div class='row invoices-list-row align-items-center'>
  <div class='col-12 invoices-list-col'>
    <table class='table table-fixed table-striped'>
      <thead>
        <tr>
          <th>Totals Only?</th>
          <th *ngFor='let k of listDisplayableFields()' (click)='sort(k)'>
            {{k | normalizeFieldName}}
            <i class="fa" [ngClass]="{'fa-sort': column != k, 'fa-sort-asc': (column == k && isDescending), 'fa-sort-desc': (column == k && !isDescending) }"
              aria-hidden="true"></i>
          </th>
          <th>Download</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let report of bulkReports | orderBy: {property: property, direction: direction}'>
          <td *ngIf='report.type === "TotalsOnlyInvoice"'>Yes</td>
          <td *ngIf='report.type !== "TotalsOnlyInvoice"'>No</td>
          <td *ngFor='let v of listDisplayableValues(report)' placement='top'
            ngbTooltip='{{v | normalizeFieldValue}}'>{{v |
            normalizeFieldValue}}</td>
          <td><button type='button' class='btn btn-primary' (click)='displayDownloadFormatDialog(downloadFormatContent, report)'>Download</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #bulkCreateContent let-c='close' let-d='dismiss'>
  <div class='modal-header'>
    <h4 class='modal-title'>Create Combined Invoice</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form #createBulkForm (ngSubmit)="c('creating'); create()">
    <div class='modal-body'>
      <div class='row align-items-center'>
        <div class='col-12'>
          <div class='form-group row align-items-center'>
            <div class='col-6 justify-content-left'>
              <label>Select Academic Year</label>
            </div>
            <div class='col-6'>
              <div ngbDropdown class="d-inline-block">
                <button type='button' class="btn btn-outline-primary" id="dropdownDownloadSchoolYear"
                  ngbDropdownToggle>{{selectedCreateSchoolYear}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownDownloadSchoolYear">
                  <button type='button' class='dropdown-item' *ngFor='let year of getSchoolYears()'
                    (click)='selectSchoolYear(year)'>{{year}}</button>
                </div>
              </div>
            </div>
          </div>
          <div class='form-group row align-items-center'>
            <div class='col-6'>
              <label>Select Billing Period</label>
            </div>
            <div class='col-6'>
              <div ngbDropdown class="d-inline-block">
                <button type='button' class="btn btn-outline-primary" id="dropdownCreateScopes"
                  ngbDropdownToggle>{{selectedCreateScope}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownCreateScopes">
                  <button type='button' class='dropdown-item' *ngFor='let scope of scopes'
                    (click)='selectCreatedScope(scope)'>{{scope}}</button>
                </div>
              </div>
            </div>
          </div>
          <div class='form-group row align-items-center'>
            <div class='col-6'>
              <label>Select Invoice Recipient</label>
            </div>
            <div class='col-6'>
              <div class='btn-group btn-group-toggle' ngbRadioGroup id='invoiceRecipient'
                name='invoiceRecipient' [(ngModel)]='invoiceRecipient'>
                <label ngbButtonLabel class='btn-primary'>
                  <input ngbButton type='radio' value='SD' /> Direct Pay SDs
                </label>
                <label ngbButtonLabel class='btn-primary'>
                  <input ngbButton type='radio' value='PDE' /> PDE
                </label>
                <label ngbButtonLabel class='btn-primary'>
                  <input ngbButton type='radio' value='Totals' /> Totals Only
                </label>
                <label ngbButtonLabel class='btn-primary'>
                  <input ngbButton type='radio' value='All' /> All
                </label>
              </div>
            </div>
          </div>
          <div id='collapsePaymentType' [ngbCollapse]='invoiceRecipient !== "Totals"'>
            <div class='form-group row align-items-center'>
              <div class='col-6'>
                <label>Payment Type</label>
              </div>
              <div class='col-6'>
                <div class='btn-group btn-group-toggle' ngbRadioGroup id='paymentType'
                  name='paymentType' [(ngModel)]='paymentType'>
                  <label ngbButtonLabel class='btn-primary'>
                    <input ngbButton type='radio' value='Check' /> Check
                  </label>
                  <label ngbButtonLabel class='btn-primary'>
                    <input ngbButton type='radio' value='UniPay' /> UniPay
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class='form-group row align-items-center'>
            <div class='col-6'>
              <label>Date Issued to School District</label>
            </div>
            <div class='col-6'>
              <div class='input-group'>
                <input class='form-control' placeholder='mm-dd-yyyy' name='dpToSchoolDistrict'
                  [(ngModel)]='toSchoolDistrictDate' ngbDatepicker
                  #dpToSchoolDistrict='ngbDatepicker' (ngModelChange)='onIssuedSchoolDistrictDateChanged()'>
                <div class='input-group-append'>
                  <button class='btn btn-outline-secondary' (click)='dpToSchoolDistrict.toggle()'
                    type='button'>
                    <i class="fa fa-calendar fa-2x"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class='form-group row align-items-center'>
            <div class='col-6'>
              <label>Date Issued to PDE</label>
            </div>
            <div class='col-6'>
              <div class='input-group'>
                <input class='form-control' placeholder='mm-dd-yyyy' name='dpToPDE'
                  [(ngModel)]='toPDEDate' ngbDatepicker #dpToPDE='ngbDatepicker'
                  (ngModelChange)='onIssuedPDEDateChanged()'>
                <div class='input-group-append'>
                  <button class='btn btn-outline-secondary' (click)='dpToPDE.toggle()'
                    type='button'>
                    <i class="fa fa-calendar fa-2x"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='modal-footer'>
      <div class='row align-items-right'>
        <div class='col-12'>
          <button type='button' class='btn btn-outline' (click)='d("Cancel click")'>CANCEL</button>
          <button type='submit' class='btn btn-primary'>CREATE</button>
        </div>
      </div>
    </div>
  </form>
</ng-template>
<ng-template #downloadFormatContent let-c='close' let-d='dismiss'>
  <div class='modal-header'>
    <h4 class='modal-title'>Download as...</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class='modal-body'>
    <div class='row align-items-center'>
      <div class='col-12 text-center'>
        <div ngbDropdown class="d-inline-block">
          <button type='button' class="btn btn-outline-primary" id="dropdownDownloadFormat"
            ngbDropdownToggle>Format type</button>
          <div ngbDropdownMenu aria-labelledby="dropdownDownloadFormat">
            <button type='button' class='dropdown-item' *ngFor='let format of downloadFormats'
              (click)=setSelectedDownloadFormat(format)>{{format}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='modal-footer'>
    <div class='row align-items-right'>
      <div class='col-12'>
        <button type='button' class='btn btn-outline' (click)='d("Cancel click")'>CANCEL</button>
        <button type='button' class='btn btn-primary' (click)='c("Selected")'>SELECT</button>
      </div>
    </div>
  </div>
</ng-template>
<ngx-spinner size='large' loadingText='Generating PACBILL invoices.  Please wait...'
  type='timer'></ngx-spinner>
