<div class='row audits-title-row'>
  <div class='col-md-12'>
    <h4>Audits</h4>
  </div>
</div>
<div class='row audits-filter-row'>
  <div class='col-md-6'>
    <div ngbDropdown class='d-inline-block'>
      <button ngbDropdownToggle class='btn btn-outline-primary' id='auditTypeDropdown'>Audit Type</button>
      <div ngbDropdownMenu class='dropdown-menu' aria-labelled-by='auditTypeDropdown'>
        <button class='dropdown-item' *ngFor='let item of auditTypes' (click)='filterAuditRecordsBySelectedAuditType(item)'>{{item | interpretAuditType}}</button>
      </div>
    </div>
  </div>
  <div class='col-md-6'>
    <div class='col-md-7 offset-md-5'>
      <input type='text' [(ngModel)]='searchText' />
      <button type='button' class='btn btn-primary' (click)='filterAuditRecordsBySearch()'>SEARCH</button>
      <button type='button' class='btn btn-outline-primary' (click)='resetAuditRecords()'>RESET</button>
   </div>
  </div>
</div>
<div class='row audits-list-row'>
  <div class='col-md-12'>
    <table class='table table-fixed table-striped'>
      <thead>
        <tr>
          <th *ngFor='let k of listDisplayableFields()' (click)='sort(k)'>
            {{k | normalizeFieldName}}
            <i class="fa" [ngClass]="{'fa-sort': column != k, 'fa-sort-asc': (column == k && isDescending), 'fa-sort-desc': (column == k && !isDescending) }" aria-hidden="true"></i>
          </th>
          <th>
            Details
            <i class="fa" [ngClass]="{'fa-sort': column != k, 'fa-sort-asc': (column == k && isDescending), 'fa-sort-desc': (column == k && !isDescending) }" aria-hidden="true"></i>
          </th>
        </tr>
      </thead>
      <tbody infiniteScroll>
        <ng-container *ngFor='let ar of audits | orderBy: {property: property, direction: direction}'>
          <tr>
            <td *ngFor='let v of listDisplayableValues(ar)'>{{v | normalizeFieldValue}}</td>
            <td><i class='fa' [ngClass]="{'fa-angle-left': !isExpandedAuditRecord(ar), 'fa-angle-down': isExpandedAuditRecord(ar)}" (click)='collapsed=!collapsed; setSelectedAuditRecord(ar)'></i></td>
          </tr>
          <tr *ngIf='isExpandedAuditRecord(ar)'>
            <td>Old Value:</td><td>{{selectedAuditRecord.oldValue}}</td>
            <td>New Value:</td><td>{{selectedAuditRecord.newValue}}</td>
          </tr>
        </ng-container> 
      </tbody>
    </table>
  </div>
</div>
