<div class='row payments-title-row align-items-center'>
  <div class='col-2'><h4>Payments</h4></div>
  <div class='col-7'>
    <input type='text' [(ngModel)]='searchText' />
    <button type='button' class='btn btn-primary' (click)='filterPaymentRecords()'>SEARCH</button>
    <button type='button' class='btn btn-outline-primary' (click)='resetPaymentRecords()'>RESET</button>
  </div>
</div>
<div class='row payments-action-row align-items-center'>
  <div class='col-auto create-payment-col'>
    <button type='button' class='btn btn-primary' (click)='createPayment()'>ADD NEW</button>
  </div>
  <div class='col-auto'>
    <button type='button' class='btn btn-primary' (click)='importPDEPayments(importPDEPaymentsContent)'>IMPORT PAYMENTS TO PDE</button>
  </div>
</div>
<div class='row payments-list-row align-items-center justify-content-center'>
  <div class='col-12 payment-list-col'>
    <table class='table table-fixed table-striped' *ngIf='payments?.length > 0'>
      <thead>
        <tr>
          <th *ngFor='let k of listDisplayableFields()' (click)='sort(k)'>
            {{k | normalizeFieldName}}
            <i class="fa" [ngClass]="{'fa-sort': column != k, 'fa-sort-asc': (column == k && isDescending), 'fa-sort-desc': (column == k && !isDescending) }" aria-hidden="true"></i>
          </th>
        </tr>
      </thead>
      <tbody infiniteScroll (scrolled)='onScroll($event)' [scrollWindow]='false'>
        <tr *ngFor='let payment of payments | orderBy: {property: property, direction: direction}' (click)='editPayment(payment)'>
          <td>{{isSplitPayment(payment) ? 'Yes' : 'No'}}</td>
          <td>{{payment?.date | date: 'MM/dd/yyyy'}}</td>
          <td>{{payment?.externalId}}</td>
          <td>{{getPaymentAmount(payment) | currency}}</td>
          <td>{{payment?.schoolYear}}</td>
          <td>{{payment?.created | date: 'MM/dd/yyyy'}}</td>
          <td>{{payment?.lastUpdated | date: 'MM/dd/yyyy'}}</td>
          <td placeholder='top' ngbTooltip='{{payment?.schoolDistrict.name}}'>{{payment?.schoolDistrict.name}}</td>
        </tr>
      </tbody>
    </table>
    <p *ngIf='payments?.length <= 0'>No payments have been submitted.</p>
  </div>
</div>
<ng-template #importPDEPaymentsContent let-c='close' let-d='dismiss'>
  <div class='row align-items-center'>
    <div class='col-12'>
      <div class='modal-header'>
        <h4 class='modal-title'>Import Payments to PDE</h4>
        <button type='button' class='close' aria-label='Close' (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class='col-12'>
      <form #selectPDEPaymentsFileForm (ngSubmit)='c("Import clicked."); doImport()'>
        <div class='modal-body'>
          <div class='form-group col-12'>
            <div class='col-6'>
              <label>Select payment data file:</label>
            </div>
            <div class='col-6'>
              <input type='file'
                [(ngModel)]='fileName'
                [ngModelOptions]='{standalone: true}'
                accept='text/csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
                (change)='setImportPaymentsUrl($event)'
                />
            </div>
          </div>
        </div>
        <div class='modal-footer'>
          <div class='form-group'>
            <button type='button' class='btn btn-outline' (click)='d("Cancel click")'>CANCEL</button>
            <button type='submit' class='btn btn-primary'>IMPORT</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>
<ngx-spinner size='large' loadingText='{{spinnerMsg}}' type='timer'></ngx-spinner>
