.payments-list-row {
  height: 100%;

  div { // col-md-12
    .create-payment-col {
      display: inline-block;
      height: 60px;

      div {
        display: inline-block;
        margin: 0;
        padding: 0;

        h3 {
          color: #58a917;
          display: inline-block;
        }

        input {
          height: 40px;
          margin-left: 20px;
          margin-right: 0;
          width: 55%;
        }

        button {
          height: 40px;
        }
      }
    }

    .search-payment-col {
      display: inline-block;
      padding: 0;
      margin: 0;

    }
  }

  .payment-list-col {
    height: calc(100% - 60px);

    table {
      thead {
        height: 59px;
      }
    }
  }
}
