.payments-list-row {
  display: flex;
  align-items: center;
  height: 100%;

  div { // col-md-12
    .create-payment-col {
      display: inline-block;
      height: 60px;

      div {
        display: inline-block;
        margin: 0;
        padding: 0;

        h3 {
          color: #58a917;
          display: inline-block;
        }

        input {
          height: 40px;
          margin-left: 20px;
          margin-right: 0;
          width: 55%;
        }

        button {
          height: 40px;
        }
      }
    }

    .search-payment-col {
      align-items: center;
      display: inline-flex;
      height: 60px;
      justify-content: center;
      padding: 0;
      margin: 0;

      div {
        height: 100%;
        display: flex;
        align-items:center;

        input {
          height: 55%;
          width: 65%;
        }

        button {
          height: 55%;
        }
      }
    }
  }

  .payment-list-col {
    height: calc(100% - 125px);

    table {
      thead {
        height: 95px;
      }
    }
  }

  .payment-action-col {
    margin-top: 10px;
  }
}
