.payments-title-row {
  height: 40px;

  .create-payment-col {
    display: flex;
    height: 100%;

    div.col-md-4 {
      display: flex;
      align-items: center;

      h4 {
        color: #58a917;
      }
    }

    div.col-md-2 {
      display: flex;
      align-items: center;
    }
  }

  .search-payment-col {
    display: flex;
    height: 100%;

    input[type='text'] {
      width: 70%;
      padding: 6px 2px;
      line-height: 14px;
    }
  }
}

.payments-list-row {
  display: flex;
  align-items: center;
  height: calc(100% - 80px);

  .payment-list-col {
    height: 100%;

    table {
      thead {
        height: 95px;
      }
    }
  }
}

.payments-footer-row {
  height: 40px;

  .payment-action-col {
    margin-top: 10px;
  }

}
