<div class='modal-header'>
  <h4 class='modal-title'>{{schoolDistrict.name}} Rates</h4>
  <button type='button' class='close' aria-label='Close' (click)='ngbActiveModal.dismiss("Cross click")'>
      <span aria-hidden='true'>&times;</span>
  </button>
</div>
<form (ngSubmit)='onSubmit()' #schoolDistrictForm='ngForm'>
  <div class='modal-body'>
    <div class='col-12'>
      <div class='row align-items-center form-group'>
        <div class='col-6'><label for='rate'>Rate</label></div>
        <div class='col-6 form-control'><input currencyMask id='rate' name='rate' [(ngModel)]='schoolDistrict.rate' /></div>
      </div>
      <div class='row align-items-center form-group'>
        <div class='col-6'><label for='alternate-rate'>Alternate Rate</label></div>
        <div class='col-6 form-control'><input currencyMask id='alternateRate' name='alternateRate' [(ngModel)]='schoolDistrict.alternateRate' /></div>
      </div>
      <div class='row align-items-center form-group'>
        <div class='col-6'><label for='specialEducationRate'>Special Education Rate</label></div>
        <div class='col-6 form-control'><input currencyMask id='specialEducationRate' name='specialEducationRate' [(ngModel)]='schoolDistrict.specialEducationRate' /></div>
      </div>
      <div class='row align-items-center form-group'>
        <div class='col-6'><label for='alternateSpecialEducationRate'>Alt. Special Education Rate</label></div>
        <div class='col-6 form-control'><input currencyMask id='alternateSpecialEducationRate' name='alternateSpecialEducationRate' [(ngModel)]='schoolDistrict.alternateSpecialEducationRate' /></div>
      </div>
      <div class='row align-items-center form-group'>
        <div class='col-6'><label for='paymentType'>Payment Type</label></div>
        <div class='col-6'>
          <div class='col-12'>
            <div class='btn-group btn-group-toggle' ngbRadioGroup id='paymentType' name='paymentType' [(ngModel)]='paymentType'>
              <label ngbButtonLabel class='btn-primary'>
                <input ngbButton type="radio" value='SD'> SD
              </label>
              <label ngbButtonLabel class='btn-primary'>
                <input ngbButton type="radio" value='PDE'> PDE
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='modal-footer'>
    <div class='row'>
      <div class='form-group col-12'>
        <button type='button' class='btn btn-outline' (click)="ngbActiveModal.close('Close click')">CANCEL</button>
        <button type='submit' class='btn btn-success'>UPDATE</button>
      </div>
    </div>
  </div>
</form>
