.school-district-filter-row {
  display: flex;
  align-items: center;
  height: 40px;

  .create-payment-col {
    height: 100%;

    h3 {
      color: #58a917;
      display: inline-block;
      height: 100%;
    }
  }

  .search-payment-col {
    height: 100%;

    input[type='text'] {
      width: 70%;
      padding: 6px 2px;
      line-height: 14px;
    }

    button.btn-primary {
      position: relative;
      left: -4px;
      top: -2px;
    }

    button.btn-outline-primary {
      position: relative;
      top: -2px;
    }
  }
}

.school-district-action-row {
  height: 40px;
  display: flex;
  align-items: center;
}

.school-district-list-row {
  height: calc(100% - 120px);
  margin-bottom: 10px;

  div.col-md-12 {
    height: 100%;

    table {
      height: 100%;
      thead {
        height: 60px;
      }
    }
  }
}

.school-district-rates-action-row {
  height: 40px;
  .school-district-rates-action-col {
  }
}
