<div class='row'>
  <div class='col-md-12'>
    <table class='table table-static table-striped' infiniteScroll (scrolled)='onScroll($event)' [scrollWindow]='false'>
      <thead>

      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>
<div class='row'>
  <div class='col-md-12 school-district-rates'>
    <h4>School District Rates</h4>
    <form (ngSubmit)='onSubmit()' #schoolDistrictForm='ngForm'>
      <!-- <div class='form-group'> -->
        <!-- WDM 04/26/2018:  Note that HTML5 defines that all button elements within a form element will perform a submit -->
        <!-- when you click them.  To prevent that from happening, any button elements within a form should have the type='button' -->
        <!-- attribute added to them.  See this item in StackOverflow:  https://stackoverflow.com/questions/2825856/html-button-to-not-submit-form  -->
        <!-- <div ngbDropdown class='d-inline-block'>
          <button ngbDropdownToggle type='button' class='btn btn-outline-primary' id='schoolDistrictDropdown'>Select school district</button>
          <div ngbDropdownMenu class='dropdown-menu' aria-labelled-by='schoolDistrictDropdown'>
            <button type='button' class='dropdown-item' *ngFor='let sd of schoolDistricts' (click)='refreshSchoolDistrict(sd)'>{{sd.name}}</button>
          </div>
        </div> -->
      <!-- </div> -->
      <div class='form-group'>
        <div class='row'>
          <div class='col-md-2'><label for='rate'>Rate</label></div>
          <div class='col-md-1'></div>
          <div class='col-md-2'><label for='alternate-rate'>Alternate Rate</label></div>
          <div class='col-md-7'>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-2'><input type='text' id='rate' name='rate' [(ngModel)]='model.Rate' /></div>
          <div class='col-md-1'></div>
          <div class='col-md-2'><input type='text' id='alternateRate' name='alternateRate' [(ngModel)]='model.AlternateRate' /></div>
          <div class='col-md-7'>
            <div class='btn-group btn-group-toggle' ngbRadioGroup id='paymentType' name='paymentType' [(ngModel)]='model.PaymentType'>
              <label ngbButtonLabel class='btn-primary'>
                <input ngbButton type="radio" [value]='ACH'> ACH
              </label>
              <label ngbButtonLabel class='btn-primary'>
                <input ngbButton type="radio" value='Check'> Check
              </label>
            </div>
          </div>
        </div>
      </div>
      <button type='submit' class='btn btn-success'>Update</button>
      {{model.Rate}} {{model.AlternateRate}}
    </form>
  </div>
</div>
