.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.school-district-rates {
  margin: 20px;

  h4 {
    color: #58a917;
  }

  form {
    .form-group {
      button {
        font-family: 'Museo Sans';
        font-size: 14px;
      }

      input[type='text'] {
        width: 260px;
      }
    }
  }
}
