div.col-md-12 {
  div.modal-header {
    div.modal-title {
      h4 {
        color: #58a917;
      }
    }
  }
  div.modal-body {
    height: 320px;
    overflow: scroll;

    div.col-md-12 {
      height: 100%;
    }
  }
}
