<div class='col-auto advanced-school-district-col'>
  <h6>School District</h6>
  <div ngbDropdown class='d-inline-block'>
    <button ngbDropdownToggle class='btn btn-outline-primary' id='schoolDistrictDropdown'>Select</button>
    <div ngbDropdownMenu class='dropdown-menu' aria-labelled-by='schoolDistrictDropdown'>
      <button class='dropdown-item' *ngFor='let sd of schoolDistricts' (click)='filterStudentListBySchoolDistrict(sd.id)'>{{sd.name}}</button>
    </div>
  </div>
</div>
<div class='col-auto advanced-grade-col'>
  <h6>Grade</h6>
  <div ngbDropdown class='d-inline-block'>
    <button class='btn btn-outline-primary' id='gradeDropdown' ngbDropdownToggle>Grade</button>
    <div ngbDropdownMenu aria-labelled-by='gradeDropdown'>
      <button class='dropdown-item' *ngFor='let grade of grades' (click)='filterStudentListByGrade(grade)'>{{grade}}</button>
    </div>
  </div>
</div>
<div class='col-auto advanced-dob-col'>
  <h6>Date of Birth</h6>
  <app-student-datepicker [(date)]='date' (dateSelected)='dateSelectedDOBDateHandler($event)' iconSize="fa-2x"></app-student-datepicker>
</div>
<div class='col-auto advanced-iep-col'>
  <h6>IEP</h6>
  <div ngbDropdown class='d-inline-block'>
    <button class='btn btn-outline-primary' id='iepDropdown' ngbDropdownToggle>IEP</button>
    <div ngbDropdownMenu aria-labelled-by='iepDropdown'>
      <button class='dropdown-item' (click)='filterStudentListByIep(true)'>Yes</button>
      <button class='dropdown-item' (click)='filterStudentListByIep(false)'>No</button>
    </div>
  </div>
</div>
