<div class='row align-items-center'>
  <div class='col-auto advanced-school-district-col'>
    <h6>School District</h6>
    <div ngbDropdown class='d-inline-block'>
      <button ngbDropdownToggle class='btn btn-outline-primary' id='schoolDistrictDropdown'>{{selectedSchoolDistrict}}</button>
      <div ngbDropdownMenu class='dropdown-menu' aria-labelled-by='schoolDistrictDropdown'>
        <button class='dropdown-item' *ngFor='let sd of schoolDistricts' (click)='filterBySchoolDistrict(sd.aun)'>{{sd.name}}</button>
      </div>
    </div>
  </div>
  <div class='col-auto advanced-grade-col'>
    <h6>Grade</h6>
    <div ngbDropdown class='d-inline-block'>
      <button class='btn btn-outline-primary' id='gradeDropdown' ngbDropdownToggle>{{selectedGrade}}</button>
      <div ngbDropdownMenu aria-labelled-by='gradeDropdown'>
        <button class='dropdown-item' *ngFor='let grade of grades' (click)='filterByGrade(grade)'>{{grade}}</button>
      </div>
    </div>
  </div>
  <div class='col-auto advanced-dob-col'>
    <h6>Date of Birth</h6>
    <app-student-datepicker #studentDatepickerDOB [(date)]='date' (dateSelected)='dateSelectedDOBDateHandler($event)' iconSize="fa-2x"></app-student-datepicker>
  </div>
  <div class='col-auto'>
    <h6>Enrollment Date</h6>
    <div class='col-auto'>
      <app-student-datepicker #studentDatepickerEnrollment iconSize='fa-2x' [(date)]='startDate' (dateSelected)='dateSelectedStartDateHandler($event)'></app-student-datepicker>
    </div>
  </div>
  <div class='col-auto'>
    <h6>Withdrawal Date</h6>
    <div class='col-auto'>
      <app-student-datepicker #studentDatepickerWithdrawal iconSize='fa-2x' [(date)]='endDate' (dateSelected)='dateSelectedEndDateHandler($event)'></app-student-datepicker>
    </div>
  </div>
  <div class='col-auto advanced-iep-col'>
    <h6>IEP</h6>
    <div ngbDropdown class='d-inline-block'>
      <button class='btn btn-outline-primary' id='iepDropdown' ngbDropdownToggle>{{selectedIep}}</button>
      <div ngbDropdownMenu aria-labelled-by='iepDropdown'>
        <button class='dropdown-item' (click)='filterByIep(true)'>Yes</button>
        <button class='dropdown-item' (click)='filterByIep(false)'>No</button>
      </div>
    </div>
  </div>
</div>
<div class='row align-items-center justify-content-center' *ngIf='!isEnrollmentDateValid()'>
  <div [style.visibility]="isEnrollmentDateValid() ? 'hidden' : 'visible'" class='col-auto alert alert-danger'>{{advancedFilterErrorMsg}}</div>
</div>
<ngx-spinner size='large' loadingText='Retrieving student records for scope {{scope}} from PACBill database.  Please wait...' type='timer'></ngx-spinner>
