.row {
  height: 100%;

  div {
    height: 100%;

    span {
      display: inline-flex;
      align-items: center;
      min-height: 100%;
    }

    app-login-popup {
      display: block;
      height: 100%;


    }
  }
}
