.content-area-row {
  height: calc(100% - 130px);
  margin: 0;
  padding: 0;
  overflow: hidden;

  div {
    padding: 0;
    margin: 0;
  }

  .action-content-col {
    padding: 5px 40px 5px 40px;
    overflow-y: scroll;
  }
}
