<div class='row calendar-filter-row'>
  <div class='col-md-6 calendar-title-col'>
    <h4>Pennsylvania Cyber Charter School {{academicYear}} School Calendar</h4>
  </div>
  <div class='col-md-6 calendar-search-col'>
  </div>
</div>
<div class='row calendar-list-row'>
  <div class='col-md-12'>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
