<div class='row calendar-filter-row'>
  <div class='col-md-3 calendar-title-col'>
    <h4>{{academicYear}} School Calendar</h4>
  </div>
  <div class='col-md-5 calendar-import-col'>
    <label for='calendar-file-selector'>Select calendar file:</label>
    <span class='btn btn-primary btn-file'>
      <input
        type='file'
        accept='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel'
        id='calendar-file-selector'
        (change)='handleFileSelection($event)' />
    </span>
  </div>
  <div class='col-md-4 calendar-search-col'>
  </div>
</div>
<div class='row calendar-list-row'>
  <div class='col-md-12'>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
