div {
  font-size: 1.5em;
  height: 100%;

  mat-menu {
    button[mat-menu-item] {
      font-family: 'Museo Sans' !important;
      height: 100%;
    }
  }

  button[mat-icon-button] {
    height: 100%;

    .fa-ellipsis-v {
      font-size: 24px;
    }
  }
}
