<div class='row administration-home-title-row'>
  <div class='col-md-12'><h3>Administration</h3></div>
</div>
<div class='row administration-home-content-row'>
  <div class='col-md-12'>
    <div class='row'>
      <div class='col-md-3'>
        <button id='import-student-data-btn' type='button' class='btn btn-outline-primary' (click)='handleClick($event)'>
          <img src='../../../../assets/images/sprite_2X.png' alt='Import Student Data' />
          <label>Import Student Data</label>
        </button>
      </div>
      <div class='col-md-3'>
        <button id='school-district-rates-btn' type='button' class='btn btn-outline-primary' (click)='handleClick($event)'>
          <img src='../../../../assets/images/sprite_2X.png' alt='School District Rates' />
          <label>School District Rates</label>
        </button>
      </div>
      <div class='col-md-3'>
        <button id='school-calendar-btn' type='button' class='btn btn-outline-primary' (click)='handleClick($event)'>
          <img src='../../../../assets/images/sprite_2X.png' alt='School Calendar' />
          <label>School Calendar</label>
        </button>
      </div>
      <div class='col-md-3'>
        <button id='audits-btn' type='button' class='btn btn-outline-primary' (click)='handleClick($event)'>
          <img src='../../../../assets/images/sprite_2X.png' alt='Audits' />
          <label>Audits</label>
        </button>
      </div>
    </div>
  </div>
</div>
