.administration-home-title-row {
  height: 15%;

  h3 {
    color: #58a719;
  }
}

.administration-home-content-row {
  height: 85%;

  div.col-md-3 {
    align-items: center;
    display: flex;
    justify-content: center;

    button {
      background-color: #ffffff;
      border: 1px solid #dddddd;
      border-radius: 5px;
      height: 205px;
      margin: 0 auto;
      margin-bottom: 40px;
      overflow: hidden;
      padding: 0;
      width: 195px;

      label {
        color: #4d4d4d;
      }
    }

    button#import-student-data-btn {
      img {
        display: block;
        object-fit: none;
        object-position: -400px -205px;
        height: 180px;
      }
    }

    button#school-district-rates-btn {
      img {
        display: block;
        object-fit: none;
        object-position: -640px -205px;
        height: 180px;
      }
    }

    button#school-calendar-btn {
      img {
        display: block;
        object-fit: none;
        object-position: -1655px 10px;
        height: 180px;
      }
    }

    button#audits-btn {
      img {
        display: block;
        object-fit: none;
        object-position: -895px -420px;
        height: 180px;
      }
    }

    button#templates-btn {
      img {
        display: block;
        object-fit: none;
        object-position: -1460px -400px;
        height: 180px;
      }
    }
  }
}
