<div class='row administration-home-title-row align-items-center'>
  <div class='col'><h3>Administration</h3></div>
</div>
<div class='row administration-home-content-row align-items-start'>
  <div class='col'>
    <button id='audits-btn' type='button' class='btn btn-outline-primary' (click)='handleClick($event)'>
      <img src='../../../../assets/images/sprite_2X.png' alt='Audits' />
      <label>Audits</label>
    </button>
  </div>
  <div class='col'>
    <button id='school-district-rates-btn' type='button' class='btn btn-outline-primary' (click)='handleClick($event)'>
      <img src='../../../../assets/images/sprite_2X.png' alt='School District Rates' />
      <label>School District Rates</label>
    </button>
  </div>
  <div class='col'>
    <button id='import-student-data-btn' type='button' class='btn btn-outline-primary' (click)='handleClick($event)'>
      <img src='../../../../assets/images/sprite_2X.png' alt='Import Student Data' />
      <label>Import Student Data</label>
    </button>
  </div>
  <div class='col'>
    <button id='school-calendar-btn' type='button' class='btn btn-outline-primary' (click)='handleClick($event)'>
      <img src='../../../../assets/images/sprite_2X.png' alt='School Calendar' />
      <label>School Calendar</label>
    </button>
  </div>
  <div class='col'>
    <button id='templates-btn' type='button' class='btn btn-outline-primary' (click)='handleClick($event)'>
      <img src='../../../../assets/images/sprite_2X.png' alt='Templates' />
      <label>Templates</label>
    </button>
  </div>
</div>
