<div class='col-md-12'>
  <div class='modal-header'>
    <h4 class="modal-title">{{op | titlecase}} Payment</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class='modal-body'>
    <div class='col-md-12 payment-not-upserted-error' [style.visibility]="upsertError ? 'visible' : 'hidden'">
      Payment error:  {{upsertError}}
    </div>
    <div class='col-md-12'>
      <form #paymentUpsertForm='ngForm' (ngSubmit)='upsertPayment()'>
        <div class='form-group col-md-12'>
          <div class='col-md-6'>
            <label>School District Name</label>
          </div>
          <div class='col-md-6'>
            <label for='typeahead-school-district'></label>
            <input id='typeahead-school-district' type='text' class='form-control' [(ngModel)]='schoolDistrictName' [ngModelOptions]="{standalone: true}" [ngbTypeahead]='search' style='width: 240px;' />
          </div>
        </div>
        <div class='form-group'>
          <div class='col-md-6'>
            <label>AUN#</label>
          </div>
          <div class='col-md-6'>
            <span>{{selectedSchoolDistrict?.aun}}</span>
          </div>
        </div>
        <div class='form-group'>
          <div class='col-md-6'>
            <label>Payment Amount</label>
          </div>
          <div class='col-md-6'>
            <input type='text' class='form-control' id='paymentAmount' name='paymentAmount' [(ngModel)]='amount' required #paymentAmount='ngModel' />
            <div [style.visibility]="paymentAmount.invalid && (paymentAmount.dirty || paymentAmount.touched) ? 'visible' : 'hidden'" class='alert alert-danger'>Invalid payment amount</div>
          </div>
        </div>
        <div class='form-group'>
          <div class='col-md-6'>
            <label>Payment Date</label>
          </div>
          <div class='col-md-6'>
            <div class='input-group'>
              <input class='form-control' placeholder='mm-dd-yyyy'
                      name='dp' [(ngModel)]='model' ngbDatepicker #d='ngbDatepicker' (ngModelChange)='onDateChanged()'>
              <div class='input-group-append'>
                <button class='btn btn-outline-secondary' (click)='d.toggle()' type='button'>
                  <i class="fa fa-calendar fa-2x"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class='form-group'>
          <div class='col-md-6'>
            <label>Check # or PDE UniPay Id</label>
          </div>
          <div class='col-md-6'>
            <input type='text' class='form-control' id='paymentType' name='paymentType' [(ngModel)]='paymentTypeId' required #paymentType='ngModel' />
            <div [style.visibility]="paymentType.invalid && (paymentType.dirty || paymentType.touched) ? 'visible' : 'hidden'" class='alert alert-danger'>Invalid payment type</div>
          </div>
        </div>
        <div class='form-group'>
          <div class='col-md-6'>
            <label>Academic Year</label>
          </div>
            <div class='col-md-6'>
              <div ngbDropdown class='d-inline-block'>
              <button type='button' ngbDropdownToggle class='btn btn-outline-primary' id='academicYearDropdown'>Select</button>
              <div ngbDropdownMenu class='dropdown-menu' aria-labelled-by='academicYearDropdown'>
                <button type='button' class='dropdown-item' *ngFor='let y of schoolYears' (click)='setSelectedAcademicYear(y)'>{{y}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class='form-group'>
          <button type='submit' class='btn btn-primary'>{{op | uppercase}}</button>
          <button type='button' class='btn btn-outline' (click)="activeModal.close('Close click')">CANCEL</button>
        </div>
      </form>
    </div>
  </div>
  <div class='modal-footer'>
  </div>
</div>
