.modal-header {
  h4 {
    color: #58a917;
  }
}

form {
  div.form-group {
    div.col-6 {
      div.d-inline-block {
        width: 100%;

        button {
          width: 100%;
        }

        div.dropdown-menu {
          height: 120px;
          overflow-y: scroll;
          width: 100%;
        }
      }

      div.row {
        div.col-5 {
          position: relative;
          top: 5px;
        }
      }
    }
  }
}
