<div class='row'>
  <div class='col-12'>
    <div class='col-12 student-bio-info'>
      <h2>{{student?.studentFirstName}} {{student?.studentMiddleInitial}} {{student?.studentLastName}}</h2>
      <h4>{{student?.studentDateOfBirth | date: 'MM/dd/yyyy'}} &#8226; {{student?.studentStreet1}} {{student?.studentStreet2}} {{student?.studentCity}}, {{student?.studentState}} {{student?.studentZipCode}}</h4>
    </div>
    <div class='col-12 student-school-info'>
      <form [formGroup]='studentDetailForm'>
        <div class='col-12' formGroup='personalInfo'>
          <div class='row'>
            <div class='col-12'>
              <label>
                First Name
              </label>
            </div>
            <div class='col-6'>
              <input type='text' formControlName='firstName' />
            </div>
          </div>
          <div class='row'>
            <div class='col-6'>
              <label>Middle Initial</label>
            </div>
            <div class='col-6'>
              <input type='text' formControlName='middleInitial' />
            </div>
          </div>
          <div class='row'>
            <div class='col-6'>
              <label>Last Name</label>
            </div>
            <div class='col-6'>
              <input type='text' formControlName='lastName' />
            </div>
          </div>
          <div class='row'>
            <div class='col-6'>
              <label>Date of Birth</label>
            </div>
            <div class='col-6'>
              <ngb-datepicker #d></ngb-datepicker>
            </div>
          </div>
        </div>
        <div class='col-12' formGroup='addressInfo'>
          <div class='row'>
            <div class='col-6'>
              <label>Street Address 1</label>
            </div>
            <div class='col-6'>
              <input type='text' formControlName='street1' />
            </div>
          </div>
          <div class='row'>
            <div class='col-6'>
              <label>Street Address 2</label>
            </div>
            <div class='col-6'>
              <input type='text' formControlName='street2' />
            </div>
          </div>
          <div class='row'>
            <div class='col-6'>
              <label>City</label>
            </div>
            <div class='col-6'>
              <input type='text' formControlName='city' />
            </div>
          </div>
          <div class='row'>
            <div class='col-6'>
              <label>State</label>
            </div>
            <div class='col-6'>
              <input type='text' formControlName='state' />
            </div>
          </div>
          <div class='row'>
            <div class='col-6'>
              <label>Zip</label>
            </div>
            <div class='col-6'>
              <input type='text' formControlName='zip' />
            </div>
          </div>
        </div>
        <div class='col-12' formGroup='studentInfo'>
          <div class='row'>
            <div class='col-6'>
              <label>PA Secured ID</label>
            </div>
            <div class='col-6'>
              <input type='text' formControlName='paSecuredId' />
            </div>
          </div>
          <div class='row'>
            <div class='col-6'>
              <label>Grade Level</label>
            </div>
            <div class='col-6'>
              <input type='number' formControlName='gradeLevel' />
            </div>
          </div>
          <div class='row'>
            <div class='col-6'>
              <label>Enrollment Date</label>
            </div>
            <div class='col-6'>
              <ngb-datepicker #dEnrollment></ngb-datepicker>
            </div>
          </div>
          <div class='row'>
            <div class='col-6'>
              <label>Withdrawal Date</label>
            </div>
            <div class='col-6'>
              <ngb-datepicker #dWithdrawal></ngb-datepicker>
            </div>
          </div>
          <div class='row'>
            <div class='col-6'>
              <label>SPED Status</label>
            </div>
            <div class='col-6'>
            </div>
          </div>
          <div class='row'>
            <div class='col-6'>
              <label>Current IEP Date</label>
            </div>
            <div class='col-6'>
              <ngb-datepicker #dCurrentIep></ngb-datepicker>
            </div>
          </div>
          <div class='row'>
            <div class='col-6'>
              <label>Prior IEP Date</label>
            </div>
            <div class='col-6'>
              <ngb-datepicker #dPriorIep></ngb-datepicker>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
