.footer-bar-row {
  background-color:rgb(121,173,39);
  bottom: 0;
  color: rgb(255, 255, 255);
  font: "Times New Roman", Times, serif;
  font-size: 1.15em;
  height: 60px;
  left: 0;
  margin: 0;
  position: absolute;
  width: 100%;

  span {
    line-height: 60px;
    display: inline-block;
    vertical-align: middle;
  }
}
