.footer-bar-row {
  background-color: #58a719;
  bottom: 0;
  color: #ffffff;
  font-size: 12px;
  height: 55px;
  left: -15px;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 102%;

  span {
    line-height: 60px;
    display: inline-block;
    vertical-align: middle;
  }
}
