<div class='row invoices-title-row align-items-center'>
  <div class='col-1'><h4>Invoices</h4></div>
  <div class='col-6'>
    <input type='text' [(ngModel)]='searchText' />
    <button type='button' class='btn btn-primary' (click)='filterInvoices()'>SEARCH</button>
    <button type='button' class='btn btn-outline-primary' (click)='resetInvoices()'>RESET</button>
  </div>
  <div class='col-5'>
    <div class='row'>
      <div class='col'>
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownScope" ngbDropdownToggle>{{selectedScope}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownScope">
            <button class='dropdown-item' *ngFor='let scope of scopes' (click)='filterByScope(scope)'>{{scope}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='row invoices-action-row align-items-center'>
  <div class='col-auto'>
    <button type='button' class='btn btn-primary' (click)='createInvoice()'>CREATE INDIVIDUAL</button>
    <button type='button' class='btn btn-primary' (click)='createInvoices()'>CREATE MULTIPLE FOR BILLING PERIOD</button>
  </div>
</div>
<div class='row invoices-list-row align-items-center'>
  <div class='col-12 invoices-list-col'>
    <table class='table table-fixed table-striped'>
      <thead>
        <tr>
          <th *ngFor='let k of listDisplayableFields()' (click)='sort(k)'>
            {{k | normalizeFieldName}}
            <i class="fa" [ngClass]="{'fa-sort': column != k, 'fa-sort-asc': (column == k && isDescending), 'fa-sort-desc': (column == k && !isDescending) }" aria-hidden="true"></i>
          </th>
          <!-- <th>Student Activity</th> -->
          <th>Invoice</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let report of reports | orderBy: {property: property, direction: direction}'>
          <td *ngFor='let v of listDisplayableValues(report)'>{{v | normalizeFieldValue}}</td>
          <!-- <td>
            <button class='dropdown-item btn btn-primary' (click)='displayDownloadFormatDialog(downloadFormatContent, "activity", report)'>Download</button>
          </td> -->
          <td>
            <button class='dropdown-item btn btn-primary' (click)='displayDownloadFormatDialog(downloadFormatContent, "invoice", report)'>Download</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- <div class='row invoices-footer-row align-items-center'>
  <div class='col-12 invoices-back-col'>
    <a class='btn btn-primary' [routerLink]='["/reports-invoices", { outlets: { "action": ["home"] } }]'>
      <span class='fa'></span> Reports & Invoices
    </a>
  </div>
</div> -->
<ngx-spinner size='large' loadingText='{{spinnerMsg}}' type='timer'></ngx-spinner>
<ng-template #downloadFormatContent let-c='close' let-d='dismiss'>
  <div class='modal-header'>
    <h4 class='modal-title'>Download as...</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class='modal-body'>
    <div class='row align-items-center'>
      <div class='col-12 text-center'>
        <div ngbDropdown class="d-inline-block">
          <button type='button' class="btn btn-outline-primary" id="dropdownDownloadFormat" ngbDropdownToggle>Format type</button>
          <div ngbDropdownMenu aria-labelledby="dropdownDownloadFormat">
            <button type='button' class='dropdown-item' *ngFor='let format of downloadFormats' (click)='setSelectedDownloadFormat(format)'>{{format}}</button>
          </div>
        </div>
      </div>
      <div class='form-group offset-2'>
        <button type='button' class='btn btn-outline' (click)='d("Cancel click")'>CANCEL</button>
        <button type='button' class='btn btn-primary' (click)='c("Selected")'>SELECT</button>
      </div>
    </div>
  </div>
  <div class='modal-footer'>
  </div>
</ng-template>
