.invoices-title-row {
  height: 40px;
  padding-bottom: 5px;

  h4 {
    color: #58a917;
  }

  div {
    display: flex;
    align-items: center;

    input[type='text'] {
      padding: 6px 2px;
      line-height: 14px;
      width: 70%;
    }
  }
}

.invoices-action-row {
  height: 40px;
  padding-bottom: 5px;

  div.col-md-12 {
    display: inline-flex;
    align-items: center;

    div.col-md-6 {
      display: inline-flex;
      align-items: center;

      div.col-md-6 {
        display: inline-flex;
        align-items: center;
      }
    }
  }
}

.invoices-list-row {
  height: calc(100% - 80px);

  .invoices-list-col {
    height: calc(100% - 60px);

    table {
      height: 100%;

      thead {
        height: 60px;
      }

      tbody {
        height: calc(100% - 60px);
      }
    }
  }

  .invoices-back-col {
    height: 40px;
  }
}

.modal-title {
  color: #58a917;
}

.modal-body {
  div.col-md-12 {
    form {
      div.form-group {
        display: flex;
        align-items: center;
        justify-content: center;

        div.d-inline-block {
          width: 100%;

          button {
            width: 100%;
          }

          div {
            width: 100%;
          }
        }
      }
    }
  }
}
