<div class='row invoices-title-row'>
  <div class='col-md-2'><h4>Invoices</h4></div>
  <div class='col-md-4'>
    <input type='text' [(ngModel)]='searchText' />
    <button type='button' class='btn btn-primary' (click)='filterInvoices()'>SEARCH</button>
    <button type='button' class='btn btn-outline-primary' (click)='resetInvoices()'>RESET</button>
  </div>
  <div class='col-md-6'>
    <div class='col-md-3 offset-md-4'>
      <button type='button' class='btn btn-outline-primary' (click)='approveInvoices()'>BULK APPROVE</button>
    </div>
    <div class='col-md-3'>
      <button type='button' class='btn btn-outline-primary' (click)='downloadInvoices()'>BULK DOWNLOAD</button>
    </div>
  </div>
</div>
<div class='row invoices-action-row'>
  <div class='col-md-12'>
    <div class='col-md-6'>
      <div class='col-md-6'>
       <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownSchoolYear" ngbDropdownToggle>School Year</button>
          <div ngbDropdownMenu aria-labelledby="dropdownSchoolYear">
            <button class='dropdown-item' *ngFor='let year of getSchoolYears()'>{{year}}</button>
          </div>
        </div>
      </div>
      <div class='col-md-6'>
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownStatus" ngbDropdownToggle>Status</button>
          <div ngbDropdownMenu aria-labelledby="dropdownStatus">
            <button class='dropdown-item' *ngFor='let status of statuses'>{{status}}</button>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-6 create-invoice-col'>
      <button type='button' class='btn btn-primary' (click)='createInvoices()'>BULK CREATE</button>
    </div>
  </div>
</div>
<div class='row invoices-list-row'>
  <div class='col-md-12 invoices-list-col'>
    <table class='table table-fixed table-striped'>
      <thead>
        <tr>
          <th *ngFor='let k of listDisplayableFields()' (click)='sort(k)'>
            {{k | normalizeFieldName}}
            <i class="fa" [ngClass]="{'fa-sort': column != k, 'fa-sort-asc': (column == k && isDescending), 'fa-sort-desc': (column == k && !isDescending) }" aria-hidden="true"></i>
          </th>
          <th>Preview</th>
          <th>Download</th>
        </tr>
      </thead>
      <tbody infiniteScroll>
        <tr *ngFor='let report of reports | orderBy: {property: property, direction: direction}'>
          <td *ngFor='let v of listDisplayableValues(report)'>{{v | normalizeFieldValue}}</td>
          <td><button type='button' class='btn btn-primary'>Preview</button></td>
          <td><button type='button' class='btn btn-primary'>Download</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='col-md-12 invoices-back-col'>
    <a class='btn btn-primary' [routerLink]='["/reports-invoices", { outlets: { "action": ["home"] } }]' (click)='collapse()'>
      <span class='fa'></span> Reports & Invoices
    </a>
  </div>
</div>
