.import-student-data-title-row {
  width: 100%;
  div {
    display: inline-block;

    h3 {
      color: #58a917;
    }
  }
}

.import-student-data-content-row {
  height: 100%;
  overflow: hidden;

  div {
    height: 100%;
    overflow: hidden;
  }

  thead {
    height: 93px;
  }
}
