<div class='row import-student-data-title-row'>
  <div class='col-md-6'>
    <h3>Administration - Import Student Data</h3>
  </div>
  <div class='col-md-3 offset-md-3'>
    <div class='col-md-2 offset-md-4' *ngIf='studentStatusRecords.length !== 0'>
      <button type='button' class='btn' (click)='handleCancelClick()'>CANCEL</button>
    </div>
    <div class='col-md-2 offset-md-1' *ngIf='studentStatusRecords.length !== 0'>
      <button type='button' class='btn btn-primary' (click)='handleDataImportCommitClick()'>COMMIT</button>
    </div>
  </div>
</div>
<div class='row import-student-data-content-row'>
  <ngx-spinner size='large' loadingText='Committing data to PACBill database.  Please wait...' type='ball-climbing-dot'></ngx-spinner>

  <div class='col-md-12' *ngIf='studentStatusRecords.length'>
    <table class='table table-striped table-fixed'>
      <thead>
        <tr>
          <th *ngFor='let k of listDisplayableFields()'>{{k | normalizeFieldName}}</th>
        </tr>
      </thead>
      <tbody infiniteScroll (scrolled)='onScroll($event)' [scrollWindow]="false">
        <tr *ngFor='let ssr of studentStatusRecords'>
          <td *ngFor='let v of listDisplayableValues(ssr)'>{{v}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class='col-md-12' *ngIf='studentStatusRecords.length === 0'>
    <h4>PACBill data was last updated on {{lastUpdatedDate}}</h4>
  </div>
</div>
