<div class='row import-student-data-title-row align-items-center'>
  <div class='col-6'>
    <h3>Imported Student Data</h3>
  </div>
  <div class='col'>
    <div ngbDropdown class="d-inline-block">
      <button type='button' class="btn btn-outline-primary" id="dropdownSelectTemplateType" ngbDropdownToggle>{{currentScope}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownSelectTemplateType">
        <button type='button' class='dropdown-item' *ngFor='let scope of scopes' (click)='filterByStudentRecordScope(scope)'>{{scope}}</button>
      </div>
    </div>
  </div>
  <div class='col-4'>
    <div class='col-8 offset-4' *ngIf='studentRecords?.length !== 0'>
      <button type='button' class='btn' (click)='handleCancelClick()'>CANCEL</button>
      <button type='button' class='btn btn-primary' (click)='handleCommitClick()' [disabled]='!canCommit'>COMMIT</button>
    </div>
  </div>
</div>
<div class='row import-student-data-content-row align-items-center'>
  <ngx-spinner size='large' loadingText='Retrieving student records for scope {{currentScope}} from PACBill database.  Please wait...' type='timer'></ngx-spinner>
  <div class='col-12' *ngIf='studentRecords?.length >= 0'>
    <table class='table table-striped table-fixed'>
      <thead>
        <tr>
          <th *ngFor='let k of listDisplayableFields()'>
            {{k | normalizeFieldName}}
            <i class="fa" [ngClass]="{'fa-sort': column != k, 'fa-sort-asc': (column == k && isDescending), 'fa-sort-desc': (column == k && !isDescending) }" aria-hidden="true"></i>
          </th>
        </tr>
      </thead>
      <tbody infiniteScroll (scrolled)='onScroll($event)' [scrollWindow]="false">
        <tr *ngFor='let ssr of studentRecords'>
          <td *ngFor='let v of listDisplayableValues(ssr)'>{{v | normalizeFieldValue}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
