:host {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  .container-fluid {
    background-color: transparent;
    height: 100vh;

    .row {
      height: 100vh;

      .body-content {
        height: 100vh;
      }
    }
  }
}
