.payments-refunds-home-title-row {
  height: 25%;

  h3 {
    color: #58a719;
  }
}

.payments-refunds-home-content-row {
  height: 75%;

  div.col-md-3 {
    align-items: center;
    display: flex;
    justify-content: center;

    button {
      background-color: #ffffff;
      border: 1px solid #dddddd;
      border-radius: 5px;
      height: 205px;
      margin: 0 auto;
      margin-bottom: 40px;
      overflow: hidden;
      padding: 0;
      width: 195px;

      label {
        color: #4d4d4d;
      }
    }

    button#payments-btn {
      img {
        display: block;
        object-fit: none;
        object-position: -410px -420px;
        height: 180px;
      }
    }

    button#refunds-btn {
      img {
        display: block;
        object-fit: none;
        object-position: -635px -420px;
        height: 180px;
      }
    }
  }
}
