<div class='row payments-refunds-home-title-row align-items-center'>
  <div class='col'><h3>Payments & Refunds</h3></div>
</div>
<div class='row payments-refunds-home-content-row align-items-start'>
  <div class='col'>
    <button id='payments-btn' type='button' class='btn btn-outline-primary' (click)='handleClick($event)'>
      <img src='../../../../assets/images/sprite_2X.png' alt='Payments' />
      <label>Payments</label>
    </button>
  </div>
  <div class='col'>
    <button id='refunds-btn' type='button' class='btn btn-outline-primary' (click)='handleClick($event)'>
      <img src='../../../../assets/images/sprite_2X.png' alt='Refunds' />
      <label>Refunds</label>
    </button>
  </div>
</div>
