.payments-refunds-home-title-row {
  height: 25%;

  h3 {
    color: #58a719;
  }
}

.payments-refunds-home-content-row {
  height: 75%;

  div.col-md-3 {
    align-items: center;
    display: flex;
    justify-content: center;

    button {
      background-color: #ffffff;
      border: 1px solid #dddddd;
      border-radius: 5px;
      height: 170px;
      margin: 0 auto;
      width: 190px;

      label {
        color: #4d4d4d;
      }
    }

    button#payments-btn {
      img {
        display: block;
        object-fit: none;
        object-position: -420px -430px;
        height: 140px;
        width: 160px;
      }
    }

    button#refunds-btn {
      img {
        display: block;
        object-fit: none;
        object-position: -650px -435px;
        height: 140px;
        width: 160px;
      }
    }
  }
}
