<div class='row activity-title-row align-items-center'>
  <div class='col-3'><h4>Itemize Student Activity</h4></div>
  <div class='col-6'>
    <input type='text' [(ngModel)]='searchText' />
    <button type='button' class='btn btn-primary' (click)='filterStudentActivityReports()'>SEARCH</button>
    <button type='button' class='btn btn-outline-primary' (click)='resetStudentActivityReports()'>RESET</button>
  </div>
  <div class='col-3'>
    <div class='row'>
      <div class='col'>
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownScope" ngbDropdownToggle>{{selectedScope}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownScope">
            <button class='dropdown-item' *ngFor='let scope of scopes' (click)='filterByScope(year)'>{{scope}}</button>
          </div>
        </div>
        <!-- <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownStatus" ngbDropdownToggle>{{selectedFilterStatus}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownStatus">
            <button class='dropdown-item' *ngFor='let status of statuses' (click)='filterByApprovedStatus(status)'>{{status}}</button>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
<div class='row activity-action-row align-items-center'>
  <div class='col-12'>
    <button type='button' class='btn btn-primary' (click)='displayCreateBulkActivityDialog(bulkCreateContent)'>CREATE</button>
  </div>
</div>
<div class='row activity-list-row align-items-center'>
  <div class='col-12 activity-list-col'>
    <table class='table table-fixed table-striped'>
      <thead>
        <tr>
          <th *ngFor='let k of listDisplayableFields()' (click)='sort(k)'>
            {{k | normalizeFieldName}}
            <i class="fa" [ngClass]="{'fa-sort': column != k, 'fa-sort-asc': (column == k && isDescending), 'fa-sort-desc': (column == k && !isDescending) }" aria-hidden="true"></i>
          </th>
          <th>Download</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let report of bulkReports | orderBy: {property: property, direction: direction}'>
          <td *ngFor='let v of listDisplayableValues(report)'>{{v | normalizeFieldValue}}</td>
          <td><button type='button' class='btn btn-primary' (click)='downloadStudentActivityReport(report)'>Download</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class='row activity-footer-row align-items-center'>
  <div class='col-12 activity-back-col'>
    <a class='btn btn-primary' [routerLink]='["/reports-invoices", { outlets: { "action": ["home"] } }]'>
      <span class='fa'></span> Reports & Invoices
    </a>
  </div>
</div>
<ng-template #bulkCreateContent let-c='close' let-d='dismiss'>
  <div class='modal-header'>
    <h4 class='modal-title'>Create Itemized Combined Activity</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class='modal-body'>
    <div class='row align-items-center'>
      <div class='col-12 text-center'>
        <form #createBulkForm (ngSubmit)="c('creating'); create()">
          <div class='form-group'>
            <div ngbDropdown class="d-inline-block">
              <button type='button' class="btn btn-outline-primary" id="dropdownCreateScope" ngbDropdownToggle>{{selectedCreateSchoolYear}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownCreateScope">
                <button type='button' class='dropdown-item' *ngFor='let scope of scopes' (click)='selectScope(scope)'>{{scope}}</button>
              </div>
            </div>
          </div>
          <!-- <div class='form-group'>
            <div ngbDropdown class="d-inline-block">
              <button type='button' class="btn btn-outline-primary" id="dropdownTemplateType" ngbDropdownToggle>{{selectedTemplateName}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownTemplateType">
                <button type='button' class='dropdown-item' *ngFor='let template of filterBulkTemplates(templates)' (click)='selectTemplate(template)'>{{template.name}}</button>
              </div>
            </div>
          </div> -->
          <div class='form-group offset-2'>
            <button type='button' class='btn btn-outline' (click)='d("Cancel click")'>CANCEL</button>
            <button type='submit' class='btn btn-primary'>CREATE</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class='modal-footer'>
  </div>
</ng-template>
<ng-template #downloadFormatContent let-c='close' let-d='dismiss'>
  <div class='modal-header'>
    <h4 class='modal-title'>Download as...</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class='modal-body'>
    <div class='row align-items-center'>
      <div class='col-12 text-center'>
        <div ngbDropdown class="d-inline-block">
          <button type='button' class="btn btn-outline-primary" id="dropdownDownloadFormat" ngbDropdownToggle>Format type</button>
          <div ngbDropdownMenu aria-labelledby="dropdownDownloadFormat">
            <button type='button' class='dropdown-item' *ngFor='let format of downloadFormats' (click)=setSelectedDownloadFormat(format)>{{format}}</button>
          </div>
        </div>
      </div>
      <div class='form-group offset-2'>
        <button type='button' class='btn btn-outline' (click)='d("Cancel click")'>CANCEL</button>
        <button type='button' class='btn btn-primary' (click)='c("Selected")'>SELECT</button>
      </div>
    </div>
  </div>
  <div class='modal-footer'>
  </div>
</ng-template>
<ngx-spinner size='large' loadingText='{{spinnerMsg}}' type='timer'></ngx-spinner>
