.activity-title-row {
  height: 62px;
  padding-bottom: 5px;

  h4 {
    color: #58a917;
  }

  div {
    input[type='text'] {
      padding: 6px 2px;
      line-height: 14px;
      width: 70%;
    }

    input[type='text'] + button {
      height: 2.37rem;
      position: relative;
      top: -2px;
      left: -4px;
    }

    button.btn-outline-primary {
      position: relative;
      top: -2px;
      left: -4px;
    }
  }
}

.activity-action-row {
  height: 40px;
  padding-bottom: 5px;
}

.activity-list-row {
  height: calc(100% - 164px);
  padding-bottom: 5px;

  .activity-list-col {
    height: 100%;

    table {
      height: 100%;

      thead {
        height: 60px;
      }

      tbody {
        height: calc(100% - 60px);
      }
    }
  }
}

.activity-footer-row {
  height: 62px;
}

.modal-title {
  color: #58a917;
}

.modal-body {
  div.col-12 {
    form {
      div.row {
        div.form-group {
          div.row {
            div.col-6 {
              div.dropdown-menu {
                height: 120px;
                overflow-y: scroll;
              }
            }
          }
        }
      }
    }
  }
}
