form {
  div.modal-body {
    div.row {
      div.col-10 {
        input[type="text"] {
          font-size: 16px;
          height: 40px;
          width: 100%;
        }
      }

      div.col-4 {
        img {
          width: 100%;
        }

        img.unassigned{
          background-color: #dddddd;
          height: 240px;
          object-fit: none;
          object-position: -115px -415px;
        }

        img.assigned {
          height: 240px;
          width: 100%;
        }
      }
    }
  }
}
