form {
  div.modal-body {
    div.row {
      div.col-12 {
        // input[type='text'] {
        //   width: 70%;
        // }

        img.unassigned{
          background-color: #dddddd;
          height: 240px;
          object-fit: none;
          object-position: -115px -415px;
        }

        img.assigned {
          height: 240px;
          width: 100%;
        }
      }
    }
  }
}
