.student-activity-history-title-row {
  div {
    div {
      div {
        h5 {
          color: #58a917;
        }
      }

      div.reset-button-col {
        display: flex;
        flex-direction: column;
        height: 100px;
        justify-content: center;
      }
    }
  }
}
