<div class='row reports-invoices-home-title-row align-items-center'>
  <div class='col'><h3>Reports & Invoices</h3></div>
</div>
<div class='row reports-invoices-home-content-row align-items-start'>
  <div class='col-3'>
    <button id='invoices-btn' type='button' class='btn btn-outline-primary' (click)='handleClick($event)'>
      <img src='../../../../assets/images/sprite_2X.png' alt='Invoices' />
      <label>Invoices</label>
    </button>
  </div>
  <div class='col-3'>
    <button id='accounts-receivable-aging-report-btn' type='button' class='btn btn-outline-primary' (click)='handleClick($event)'>
      <img src='../../../../assets/images/sprite_2X.png' alt='A/R Report - Aging' />
      <label>A/R Report - Aging</label>
    </button>
  </div>
  <div class='col-3'>
    <button id='accounts-receivable-aod-report-btn' type='button' class='btn btn-outline-primary' (click)='handleClick($event)'>
      <img src='../../../../assets/images/sprite_2X.png' alt='A/R Report - As of Date' />
      <label>A/R Report - As of Date</label>
    </button>
  </div>
  <div class='col-3'>
    <button id='csiu-export-btn' type='button' class='btn btn-outline-primary' (click)='handleClick($event)'>
      <img src='../../../../assets/images/sprite_2X.png' alt='CSIU Export' />
      <label>CSIU Export</label>
    </button>
  </div>
  <div class="w-100"></div>
  <div class='col-3'>
    <button id='monthly-combined-invoice-btn' type='button' class='btn btn-outline-primary' (click)='handleClick($event)'>
      <img src='../../../../assets/images/sprite_2X.png' alt='Monthly Combined Invoice' />
      <label>Monthly Combined Invoice</label>
    </button>
  </div>
  <div class='col-3'>
    <button id='reconciliation-combined-invoice-btn' type='button' class='btn btn-outline-primary' (click)='handleClick($event)'>
      <img src='../../../../assets/images/sprite_2X.png' alt='Reconciliation Combined Invoice' />
      <label>Reconciliation Combined Invoice</label>
    </button>
  </div>
  <div class='col-3'>
    <button id='unipay-invoice-summary-btn' type='button' class='btn btn-outline-primary' (click)='handleClick($event)'>
      <img src='../../../../assets/images/sprite_2X.png' alt='UniPay Invoice Summary' />
      <label>PDE Invoice Summary</label>
    </button>
  </div>
  <div class='col-3'>
    <button id='itemized-student-activity-btn' type='button' class='btn btn-outline-primary' (click)='handleClick($event)'>
      <img src='../../../../assets/images/sprite_2X.png' alt='Itemized Student Activity' />
      <label>Itemized Student Activity</label>
    </button>
  </div>
  <div class="w-100"></div>
  <div class='col-3'>
    <button id='digital-signatures-btn' type='button' class='btn btn-outline-primary' (click)='handleClick($event)'>
      <img src='../../../../assets/images/sprite_2X.png' alt='Digital Signatures' />
      <label>Digital Signatures</label>
    </button>
  </div>
  <div class='col-3'>
    <button id='unipay-reconciliation-summary-btn' type='button' class='btn btn-outline-primary' (click)='handleClick($event)'>
      <img src='../../../../assets/images/sprite_2X.png' alt='UniPay Reconciliation Summary' />
      <label>PDE Reconciliation Summary</label>
    </button>
  </div>
</div>
