.reports-invoices-home-title-row {
  height: 25%;

  h3 {
    color: #58a719;
  }
}

.reports-invoices-home-content-row {
  height: 75%;

  div.col-md-3 {
    align-items: center;
    display: flex;
    justify-content: center;

    button {
      background-color: #ffffff;
      border: 1px solid #dddddd;
      border-radius: 5px;
      height: 170px;
      margin: 0 auto;
      margin-bottom: 40px;
      padding: 0;
      width: 190px;

      label {
        color: #4d4d4d;
      }
    }

    button#accounts-receivable-aging-report-btn {
      img {
        display: block;
        object-fit: none;
        object-position: -412px -10px;
        height: 140px;
        width: 100%;
      }
    }

    button#accounts-receivable-aod-report-btn {
      img {
        display: block;
        object-fit: none;
        object-position: -635px -10px;
        height: 140px;
        width: 100%;
      }
    }

    button#csiu-export-btn {
      img {
        display: block;
        object-fit: none;
        object-position: -900px -10px;
        height: 140px;
        width: 100%;
      }
    }

    button#itemized-student-activity-btn {
      img {
        display: block;
        object-fit: none;
        object-position: -1180px -10px;
        height: 140px;
        width: 100%;
      }
    }

    button#monthly-combined-invoice-btn {
      img {
        display: block;
        object-fit: none;
        object-position: -1450px -2px;
        height: 140px;
        width: 100%;
      }
    }

    button#reconciliation-combined-invoice-btn {
      img {
        display: block;
        object-fit: none;
        object-position: -405px -210px;
        height: 140px;
        width: 100%;
      }
    }

    button#unipay-invoice-summary-btn {
      img {
        display: block;
        object-fit: none;
        object-position: -640px -210px;
        height: 140px;
        width: 160px;
      }
    }

    button#unipay-reconciliation-summary-btn {
      img {
        display: block;
        object-fit: none;
        object-position: -900px -210px;
        height: 140px;
        width: 160px;
      }
    }
  }
}
