.student-meta-info-row {
  div {
    display: inline;

    h4 {
      display: inline-block;

      span {
        color: #58a719;
      }
    }
  }

  div.date-updated-col {
    text-align: right;
    float: right;
  }
}

.student-info-row {
}

.student-history-info-row {
  .student-history-back-col {
  }
}
