<div class='row student-meta-info-row align-items-center'>
  <div class='col-md-12'>
    <div class='col-md-4'>
      <h4>Students | Search Results | <span>{{student?.firstName}} {{student?.middleInitial}} {{student?.lastName}}</span></h4>
    </div>
    <div class='col-md-4 date-updated-col'>
      <h4><strong>Last Updated: </strong>{{student?.lastUpdated | date:'MM/dd/yyyy'}}</h4>
    </div>
  </div>
</div>
<div class='row student-info-row align-items-center'>
  <div class='col-md-12'>
    <app-student-details-info></app-student-details-info>
  </div>
</div>
<div class='row student-history-info-row align-items-center'>
  <div class='col-md-12 student-history-content-col'>
    <app-student-history-info></app-student-history-info>
  </div>
  <div class='col-md-12 student-history-back-col'>
    <div class='col-md-12'>
      <a [routerLink]='["/students", { outlets: { "action": ["list"] } }]' class='btn btn-primary'>
        <span class='glyphicon glyphicon-user'></span> Back to Students
      </a>
    </div>
  </div>
</div>
